.Navbar{
    background-color: #efefef;
    color: #767676;
}


.Navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}


.Navbar li {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0 100px 0 0;
    box-sizing: border-box;
    display: block;
    font-size: 28px;
    width: 100%;
}


.Navbar a{
    padding: 10px;
    border-left: 3px solid darkgrey;
    color: #767676;;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}


.Navbar a:hover{
    border-left: 3px solid #ff5c47;
    color : #ff5c47;
}
