
.Navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}


.Navbar li {
    padding: 10px;
    text-decoration: none;
    border-left: 2px solid darkgrey;
    color: grey;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0 100px 0 0;
    box-sizing: border-box;
    display: block;
    font-size: 28px;
    width: 100%;
}

.Navbar a:hover{
    color : orange;
}