
h1{
    text-align: center;
}

form * {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 15px;
    font-size: 20px;
}

form input {
    text-align: left;
    padding: 3px;
    width: 40%;
}

.SubmitButton {
    color: orange;
    background-color: whitesmoke;
    margin: 30px auto ;
    border-color: orange;
    border-radius: 5%;
    cursor: pointer;
}

input {
    border-radius: 5%;
}

